@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One';
}

@font-face {
  font-family: Russo One;
  src: url(./font/Russo_One.ttf);
  font-weight: regular;
}

/* ========= Hero Section */

.home-hero {
  background: #142a5b;
  height: 100%;
  position: relative;
}

/* === Hero Section - shape === */

.gGeppt {
  display: grid;
  grid-template-rows: 15vw 10vw 10vw 10vw 5vw;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  overflow: hidden;
}

.gGeppt span:first-child {
  background: #553b9a;
}

.gGeppt span:nth-child(2) {
  background: #5d71ff;
  grid-row: span 2 / span 2;
  grid-row-start: 4;
  grid-column: span 2 / span 2;
  grid-column-start: span 2;
  grid-column-start: 6;
  transform: skewY(-5deg);
}

.gGeppt span:nth-child(3) {
  background: #5d71ff;
  grid-column: span 2 / span 2;
  grid-column-start: span 2;
  grid-column-start: 6;
  transform: skewY(-5deg);
}

.gGeppt span:nth-child(4) {
  background: #553b9a;
  grid-row-start: 3;
  grid-column-start: 5;
  transform: skewY(-5deg);
}

.gGeppt span:nth-child(5) {
  background: #5d71ff;
  grid-row: span 2 / span 2;
  grid-row-start: span 2;
  grid-row-start: 4;
  transform: skewY(-5deg);
}

/* ======= Hero Section - Heading =========== */

.home-title {
  position: absolute;
  top: 29%;
  width: 100%;
  text-align: center;
}

.home-title .hello {
  position: absolute;
  top: 3%;
  transform: skewY(-5deg);
  color: #bee3f8;
}

.home-title .adnan {
  font-size: 17vw;
  text-shadow: rgb(10, 134, 254) 5px 5px 0px;
  color: #fff;
}

.fullstack {
  transform: skewY(-5deg);
  position: absolute;
  top: 84%;
  color: #bee3f8;
  left: 71%;
}

/* ================================== Main Content =============================== */
.main-content {
  background: #061d4e;
  overflow: hidden;
}

.browser-mockup {
  border-top: 2.5rem solid #343434;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 6px 6px 0 0;
  width: 30%;
  height: 20vw;
}

.browser-mockup::before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.8em;
  left: 5.5em;
  width: calc(100% - 10em);
  height: 1.2em;
  border-radius: 2px;
  background-color: #747474;
}

.browser-mockup img {
  max-width: 100%;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
}

.project-one, .project-two, .project-three {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-bottom: 9rem;
}

.project-image {
  position: relative;
  z-index: 2;
}

.project-image::before {
  width: 90%;
  transform: skewY(-3deg);
  background: #5d71ff;
  position: absolute;
  left: 15%;
  z-index: -1;
  height: 104%;
  top: 7%;
  content: '';
}

.project-description {
  margin-left: -17%;
}

.project-image-two{
  position:absolute;
  z-index: 2;
}

.project-image-two::before {
  width: 90%;
  transform: skewY(3deg);
  background: #553B9A;
  position: absolute;
  left: 17%;
  z-index: -1;
  height: 104%;
  top: 4%;
  content: '';
}

.project-description-two {
  margin-right: -20%;
}