@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One';
}

@font-face {
  font-family: Russo One;
  src: url(./font/Russo_One.ttf);
  font-weight: regular;
}

/* ========= Hero Section */

.home-hero {
  background: #142a5b;
  height: 100%;
  position: relative;
}

/* === Hero Section - shape === */

.gGeppt {
  display: grid;
  grid-template-rows: 15vw 10vw 10vw 10vw 5vw;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  overflow: hidden;
}

.gGeppt span:first-child {
  background: #553b9a;
}

.gGeppt span:nth-child(2) {
  background: #5d71ff;
  grid-row: span 2 / span 2;
  grid-row-start: 4;
  grid-column: span 2 / span 2;
  grid-column-start: span 2;
  grid-column-start: 6;
  transform: skewY(-5deg);
}

.gGeppt span:nth-child(3) {
  background: #5d71ff;
  grid-column: span 2 / span 2;
  grid-column-start: span 2;
  grid-column-start: 6;
  transform: skewY(-5deg);
}

.gGeppt span:nth-child(4) {
  background: #553b9a;
  grid-row-start: 3;
  grid-column-start: 5;
  transform: skewY(-5deg);
}

.gGeppt span:nth-child(5) {
  background: #5d71ff;
  grid-row: span 2 / span 2;
  grid-row-start: span 2;
  grid-row-start: 4;
  transform: skewY(-5deg);
}

/* ======= Hero Section - Heading =========== */

.home-title {
  position: absolute;
  top: 29%;
  width: 100%;
  text-align: center;
}

.home-title .hello {
  position: absolute;
  top: 3%;
  transform: skewY(-5deg);
  color: #bee3f8;
}

.home-title .adnan {
  font-size: 17vw;
  text-shadow: rgb(10, 134, 254) 5px 5px 0px;
  color: #fff;
}

.fullstack {
  transform: skewY(-5deg);
  position: absolute;
  top: 84%;
  color: #bee3f8;
  left: 71%;
}
